<main fxLayout="column" fxLayoutGap="10px">
  <mat-toolbar color="primary">
    <span>hypo10use</span>
    <span class="toolbar-spacer"></span>
    <ng-container [ngSwitch]="walletConnectionState$ | async">
      <mat-spinner *ngSwitchCase="WALLET_CONNECTION_STATES.CONNECTING" color="accent" diameter="40"></mat-spinner>
      <ng-container *ngSwitchCase="WALLET_CONNECTION_STATES.CONNECTED">
        <button mat-raised-button color="accent">
          <ng-container *ngIf="balance >= 0; else loadingBalance">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
              <span>{{balance | token: selectedToken}}</span>
              <span>{{selectedToken.name}}</span>
            </div>
          </ng-container>
          <ng-template #loadingBalance>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
              <mat-spinner diameter="20"></mat-spinner>
              <span>{{selectedToken.name}}</span>
            </div>
          </ng-template>
        </button>
      </ng-container>
      <button *ngSwitchDefault mat-raised-button color="accent" (click)="connectWallet()">
        <span>Connect Wallet</span>
        <mat-icon>account_balance_wallet</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>
  <div fxFlex="1 1 auto" fxLayout="row">
    <div fxFlex="0" fxFlex.gt-xs="10" fxFlex.gt-md="20" fxFlex.gt-lg="30"></div>
    <div fxFlex="100" fxFlex.gt-xs="80" fxFlex.gt-md="60" fxFlex.gt-lg="40">
      <div class="title" fxLayout="column">
        <strong>Welcome to</strong>
        <h1>QUID GAME</h1>
        <div class="shapes" fxLayout="row" fxLayoutAlign="space-around">
          <mat-icon svgIcon="circle" class="shape"></mat-icon>
          <mat-icon svgIcon="triangle" class="shape"></mat-icon>
          <mat-icon svgIcon="rectangle" class="shape"></mat-icon>
        </div>

        <div fxFlexOffset="10vh">
          <strong>The rules of the game:</strong>
          <p>- Set a certain amount</p>
          <p>- Bet if the sum of all amounts is odd or even</p>
        </div>
        <div fxFlex="1 1 auto" fxFlex.gt-xs="10"></div>
        <form [formGroup]="betForm">
          <div fxLayout="row">
            <mat-form-field fxFlex appearance="outline" class="form-field">
              <mat-label>ADDRESS</mat-label>
              <mat-select formControlName="address">
                <mat-option *ngIf="addresses.length === 0">
                  <mat-spinner diameter="20"></mat-spinner>
                </mat-option>
                <mat-option [value]="address" *ngFor="let address of addresses">
                  {{address | address}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex appearance="outline" class="form-field">
              <mat-label>nERG</mat-label>
              <input matInput type="number" min="0" formControlName="amount">
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-radio-group fxFlex fxLayout="column" formControlName="bet" class="form-field">
              <mat-radio-button [value]="bet.ODD" color="primary">{{bet.ODD.id}}</mat-radio-button>
              <mat-radio-button [value]="bet.EVEN" color="primary">{{bet.EVEN.id}}</mat-radio-button>
            </mat-radio-group>

            <div fxFlex fxLayout="column" class="form-field">
              <button fxFlex [disabled]="!betForm.valid || placingBet" (click)="placeBet()" mat-raised-button
                      color="primary">
                <span *ngIf="!placingBet; else placingBetSpinner">Bet</span>
                <ng-template #placingBetSpinner>
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-spinner diameter="20"></mat-spinner>
                  </div>
                </ng-template>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div fxFlex="0" fxFlex.gt-xs="10" fxFlex.gt-md="20" fxFlex.gt-lg="30"></div>
  </div>
</main>


