<main fxLayout="column" fxLayoutGap="10px">
  <mat-toolbar color="primary">
    <span>hype10use</span>
    <span class="toolbar-spacer"></span>
    <ng-container [ngSwitch]="walletConnectionState$ | async">
      <mat-spinner *ngSwitchCase="WALLET_CONNECTION_STATES.CONNECTING" color="accent" diameter="40"></mat-spinner>
      <ng-container *ngSwitchCase="WALLET_CONNECTION_STATES.CONNECTED">
        <button mat-raised-button color="accent">
          <ng-container *ngIf="balance >= 0; else loadingBalance">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
              <span>{{balance | token: selectedToken}}</span>
              <span>{{selectedToken.name}}</span>
            </div>
          </ng-container>
          <ng-template #loadingBalance>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
              <mat-spinner diameter="20"></mat-spinner>
              <span>{{selectedToken.name}}</span>
            </div>
          </ng-template>
        </button>
      </ng-container>
      <button *ngSwitchDefault mat-raised-button color="accent" (click)="connectWallet()">
        <span>Connect Wallet</span>
        <mat-icon>account_balance_wallet</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>
  <div fxFlex="1 1 auto" fxLayout="row">
    <div fxFlex="0" fxFlex.gt-xs="10" fxFlex.gt-md="20" fxFlex.gt-lg="30"></div>
    <div fxFlex="100" fxFlex.gt-xs="80" fxFlex.gt-md="60" fxFlex.gt-lg="40">
      <div class="title" fxLayout="column">
        <strong>Welcome to</strong>
        <h1>QUID GAME</h1>
        <div class="shapes" fxLayout="row" fxLayoutAlign="space-around">
          <mat-icon svgIcon="circle" class="shape"></mat-icon>
          <mat-icon svgIcon="triangle" class="shape"></mat-icon>
          <mat-icon svgIcon="rectangle" class="shape"></mat-icon>
        </div>

        <div fxFlexOffset="10vh">
          <strong>The rules of the game:</strong>
          <p>- Set a certain amount</p>
          <p>- Bet if the sum of all amounts is odd or even</p>
        </div>
        <div fxFlex="1 1 auto" fxFlex.gt-xs="10"></div>
        <mat-form-field>
          <mat-label>Select a wallet address to use:</mat-label>
          <mat-select [formControl]="address">
            <mat-option [value]="address" *ngFor="let address of addresses">
              {{address}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button *ngIf="address.valid" class="bet-button" mat-raised-button color="accent">Play</button>
      </div>
    </div>
    <div fxFlex="0" fxFlex.gt-xs="10" fxFlex.gt-md="20" fxFlex.gt-lg="30"></div>
  </div>
</main>


